django>=4.2.0,<4.3
djangorestframework==3.14.0
django-filter==23.2
psycopg2-binary==2.9.6
uWSGI>=2.0.19.1,<2.1
Pillow==9.5.0
django-dotenv==1.4.2
django-jazzmin>=2.6.0,<2.7
celery==5.2.7
flower==1.2.0
redis==4.5.4
