---
name: Pull request validation

on: 
  pull_request: 
    branches:    
      - development
       
jobs:
    welcome: # just an id for the job
        name: Welcome
        runs-on: ubuntu-20.04
        steps:
            - name: "Welcome step"
              run: echo "Hello form first job :)"

    test:
        name: Application tests
        runs-on: ubuntu-20.04
        steps:
          - name: 'Create env file'
            run: |
              touch .env
              echo DB_PORT=${{ secrets.DB_PORT }} >> .env
              cat .env
              
          - run: |
              ls -la
              
          - name: Checkout
            uses: actions/checkout@v2
          - run: |
              ls -la
              pwd

          - name: Tests
            run: docker-compose -f dev.compose.yml run --rm app sh -c "python manage.py test"

    lint:
        name: Lint
        runs-on: ubuntu-20.04
        steps:
          - name: Checkout
            uses: actions/checkout@v2
          
          - name: Lint
            run: docker-compose -f dev.compose.yml run --rm app sh -c "flake8"
